body{
  background-image: url(../img/backgroumd.png);
  font-family: 'Noto Sans TC', sans-serif;
  color:#4C4948;
}
.hot{
  max-width: 1200px;
  margin: 120px auto 30px ;
  /* background-color: white; */
  padding-top: 10px;
}
/*.top{
  width: 50px;
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 50;
}*/
.title{
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #4C4948;

}
.title img{
  position: relative;
  top: -20px;
  width: 30%;
}

.hot-block ul{
  display: flex;
}
.hot-block ul > li{
  outline: 1px solid;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 600px;
}
.block-top{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.block-top img{
  position: absolute;
  width: 100px;
  top: -40px;
  left:-40px
}
.block-top h2{
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}
.block-center{
  display: flex;
  padding: 20px;
}
.block-center img{
  width: 300px;
}
.block-text h2{
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.block-text li{
  padding: 0 20px 10px;
  font-size: 20px;
  line-height: 1.4;
}

.block-bottom{
  display: flex;
  justify-content: space-around;

}
.bottom-input input{
  margin-right: 20px;
  background-color: #EFEFEF;
  width: 100px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  color: #4C4948;
  font-size: 16px;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  margin: 0 10px 10px;
}
.bottom-text{
  display: flex;
  position: relative;
}
.bottom-text h3{
  font-size: 28px;
  font-weight: bold;
  margin-right: 10px;
}
.bottom-text h3:nth-child(2){
  color: red;
}
.bottom-text h3:nth-child(2)::after{
  content: "$400";
  text-decoration: line-through;
  position: absolute;
  top: -30px;
  right:50px;
  color:black;
  font-size: 20px;
}

@media screen and (max-width: 768px){
  .hot-block ul {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 414px){
  .hot {
    margin: 20px auto 30px;
  }
  .title {
    font-size: 28px;
  }
  .block-top h2 {
    font-size: 20px;
  }
  .block-top img {
    max-width:  80px;
    top: -47px;
    left: -13px;
  }
  .block-center {
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
  }
  .hot-block ul > li {
    border: 1px solid;
    margin: 20px 5px;
    max-width: 600px;
  }
  .block-text h2 {
    font-size: 20px;
    margin-top: 10px;
  }
  .block-text li {
    font-size: 16px;
  }
  .bottom-input input {
    width: 75px;
    line-height: 20px;
    font-size: 12px;
  }
  .bottom-text h3 {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
  }
}