body{
  background-image: url(../img/backgroumd.png);
  font-family: 'Noto Sans TC', sans-serif;
  color:#4C4948;
}
.shop{
  max-width: 1200px;
  margin: 120px auto 30px ;
  background-color: white;
  padding-top: 10px;
}

/*.top{
  width: 50px;
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 50;
}*/
.title1{
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  color: #4C4948;

}
.title1 img{
  position: relative;
  top: -20px;
  width: 30%;
}
main {
  padding: 20px 10px;
  width: 100%;
  box-sizing: border-box;
}
main > .view {
  max-width: 980px;
  margin: auto;
}
.cart {
  margin-bottom: 20px;
}
.row-title {
  display: flex;
  font-weight: bold;
  justify-content: space-around;
  padding: 10px;
  margin: 0px auto;
}


.list {
  border: solid 1px #979797;
  padding: 10px 15px;
}
.row {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.row > .variant {
  flex: none;
  display: flex;
  width: 300px;
  order: 1;
  line-height: 1.5em;
  font-size: 0.9em;
}
.row > .variant > .picture {
  flex: none;
  width: 100px;
}
.row > .variant > .detailes {
  flex: auto;
  margin-left: 10px;
}
.row > .qty {
  flex: auto;
  order: 3;
}
.row > .qty > select {
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 4px;
}
.row > .price {
  flex: auto;
  order: 4;
}
.row > .subtotal {
  flex: auto;
  order: 5;
}
.row > .remove {
  flex: none;
  width: 50px;
  order: 6;
  cursor: pointer;
}

.target {
  display: flex;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #e8e8e8;
}
.target > .country {
  flex: auto;
}
.target > .country > span {
  margin-right: 10px;
  vertical-align: middle;
}
.target > .country > select {
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 4px;
}
.reminder {
  margin-bottom: 20px;
  line-height: 1.5em;
}
.recipient {
  margin-bottom: 30px;
}
.recipient > .title {
  border-bottom: 1px solid #3f3a3a;
  margin-bottom: 15px;
  padding-bottom: 10px;
  font-weight: bold;
}
.recipient > .line {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.recipient > .line > .text {
  flex: none;
  width: 180px;
}
.recipient > .line > .input {
  flex: auto;
}
.recipient > .line > .input > label {
  margin-right: 10px;
}
.recipient > .line > .input > input {
  padding: 5px;
  width: 200px;
  border-radius: 4px;
  border: solid 1px #979797;
}
.recipient > .line > .input > label > .time {
  vertical-align: middle;
}
.payment {
  margin-bottom: 30px;
}
.payment > .title {
  border-bottom: 1px solid #3f3a3a;
  margin-bottom: 15px;
  padding-bottom: 10px;
  font-weight: bold;
}
.payment > .line {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.payment > .line > .text {
  flex: none;
  width: 180px;
}
.payment > .line > .input {
  flex: auto;
}
.payment > .line > .input > .tpfield {
  height: 20px;
  max-width: 300px;
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
}
.confirm {
  border-top: solid 1px #3f3a3a;
  margin-bottom: 20px;
  padding-top: 30px;
}
.confirm > .row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.confirm > .row > .title {
  flex: none;
  width: 100px;
}
.confirm > .row > .priceView {
  flex: none;
  width: 140px;
  font-size: 1.5em;
  text-align: right;
}
.confirm > .row > .price > .unit {
  font-size: 0.75em;
}
.confirm > .row > .seperator {
  flex: none;
  height: 1px;
  background-color: black;
  width: 240px;
}
button {
  width: 240px;
  height: 40px;
  background-color: black;
  color: #ffffff;
  cursor: pointer;
}


/*購物車內容*/
.list{
  transition: all 1s;
}
.listCount{
  display: flex;
  justify-content: space-around;
  position: relative;
  padding: 20px 0;
  opacity: 1;
}
.deleteImg{
  max-width: 25px;
  max-height: 25px;
  position: absolute;
  top: 25%;
  right: 0;
  cursor: pointer;
}
.deleteImg img{
  width: 100%;
}

/**/
.fade_Out{
  opacity: 0;
}

@media screen and (max-width: 414px){
  .shop {
    margin: 20px auto 30px;
  }
  .title1 {
    font-size: 28px;
  }
  .deleteImg {
    right: -3%;
  }
  .target > .country > select {
    padding: 5px;
    margin-top: 5px;
  }
  .recipient > .line {
    flex-wrap: wrap;
  }
  .recipient > .line > .text {
    width: 100%;
    margin-bottom: 5px;
  }
  .recipient > .line > .input > input {
    width: 80%;
    margin-top: 5px;
  }
  .confirm > .row {
    justify-content: center;
  }
}