body{
  background-image: url(../img/backgroumd.png);
  font-family: 'Noto Sans TC', sans-serif;
  color:#4C4948;
}
.main-story{
  max-width: 1200px;
  margin: 120px auto 30px ;
  background-color: white;
  padding-top: 10px;
}
/*.top{
  width: 50px;
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 50;
}*/
.title{
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  color: #4C4948;

}
.title img{
  position: relative;
  top: -20px;
  width: 30%;
}

.main-block1 img{
  width: 100%;
}
.main-block1 p{
  padding: 20px 80px;
  letter-spacing: 2px;
  line-height: 2;
}


.main-block2{
  background-color: #E0D6C3;
  display: flex;
}
.block2-left{
  width: 50%;
  line-height: 1.5;
  text-align: center;
}
.block2-left h1{
  font-size: 42px;
  font-weight: bold;
  margin: 30px 0;
}
.block2-left h3{
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}
.block2-left p{
  font-size: 16px;
  font-weight: bold;

}
.block2-right{
  width: 50%;
}
.block2-right img:not(:nth-child(3)){
  width: 45%;
  height: 50%;
  vertical-align: top;
}
.block2-right img:last-child{
  width: 90%;
  height: 50%;
}

.main-block3{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.block3-left{
  position: relative;
  flex-grow: 1;
}
.block3-left img:last-child{
  width: 100px;
  position: absolute;
  right: 100px;
  bottom: -50px;
}
.block3-right{
  flex-grow: 1;
}
.block3-right h2{
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}
.block3-right ul{
  list-style-type: disc;
  text-align: left;
  margin-left: 150px;
  font-size: 20px;
}
.block3-right li{
  margin-bottom: 10px;
}

.main-block4{
  background-color: #E0D6C3;
  text-align: center;
}
.main-block4 h2{
  font-size: 36px;
  font-weight: bold;
  padding: 20px;
}
.main-block4 ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-block4 li{
  padding: 20px;
}
.main-block4-img{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
  outline: 1px solid;
  margin-bottom: 20px;
}
.main-block4-img-1{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
  /* outline: 1px solid; */
  margin-bottom: 20px;
  background-image: url(../img/story-7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.main-block4-img-2{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  background-image: url(../img/story-8.jpg);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  background-color: white;
}
.main-block4-img-3{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  background-image: url(../img/story-9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.main-block4-img-4{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  background-image: url(../img/story-10.jpg);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  background-color: white;
}

.main-block4 li h3{
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}
.main-block4 li p{
  font-weight: bold;
  padding: 0 50px;
}
.main-block4 h3{
  font-size: 28px;
  font-weight: bold;
  margin-top: 20px;
  padding-bottom: 20px;
}
.block{
  transition: opacity 1s;
}

@media screen and (max-width: 768px){
  .main-block4 li {
    padding: 15px;
  }
  .main-block4 li p {
    padding: 0;
  }
}
/*414*/
@media screen and (max-width: 414px){
  .main-story {
    margin: 20px auto 30px;
  }
  .title {
    font-size: 28px;
  }
  .main-block2 {
    display: block;
  }
  .block2-left {
    width: 100%;
  }
  .block2-left p {
    margin-bottom: 20px;
  }
  .block2-right {
    width: 100%;
  }
  .block2-right img:last-child {
    width: 100%;
    height: 50%;
  }
  .block2-right img:not(:nth-child(3)) {
    width: 49%;
  }
  .main-block4 ul{
    flex-wrap: wrap;
  }
  .main-block3 {
    flex-wrap: wrap;
  }
  .block3-left img:last-child {
    right: -30px;
  }
  .block3-right ul {
    margin-left: 0px;
  }
  .block3-right h2 {
    font-size: 36px;
    font-weight: bold;
    padding: 20px;
  }
}